@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');


header {
  margin: 0.3rem;
  display: flex;
  justify-content: space-between;
  height: 5vh;
  width: 100%
}

.btncontainer {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  
  height: 4vh;
}

h1 {
  font-weight: 800;
  font-size: x-large;
  margin-top: 0.3rem;
  flex: 1;
  padding: 0;
}

.footer {
  text-align: center;
}

ul {
  display: flex;
  /* justify-content: space-between;
  border: 1px solid black; */
  padding-inline-start: 0px;
  width: 100%;
}

li {
  list-style-type: none;
  padding: 16px 0;
  width: 20%;
  border: 1px solid black;
  text-align: center;
  /* border-left: 1px solid black; */
}

/* .header {
  padding:60px 0;
  /* text-align: center; */
  /* background: #33cccc; */
  /* color: rgb(0, 0, 0);
  font-weight: 300; */
/* } */ 


