@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');

header {
  margin: 0px 8px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 5rem;
  height: 5vh;
  width: 100%
}

.btncontainer {
  flex: 1;
  height: 4vh;
  text-align: end;
  margin: 0px 8px;
}

h1 {
  font-weight: 800;
  font-size: x-large;
  margin-top: 0.3rem;
  flex: 1;
  padding: 0;
}

.footer {
  text-align: center;
}

ul {
  display: flex;
  padding-inline-start: 0px;
  width: 100%;
}

li {
  list-style-type: none;
  padding: 16px 0;
  width: 20%;
  border: none;
  text-align: center;
  font-weight: bolder;
  cursor: pointer;
  /* border-left: 1px solid black; */
}

li:hover {
  background-color: red;
  color: white;
  font-weight: bolder;
}



