.LoginButton {
    margin-left: 1vw;
    /* background-color: white; */
}

.enterbtn {
    background-color: white;
    border: none;
    height: 4vh;
    font-size: large;
    cursor: pointer;
    margin-top: 0.1rem;
}