.section {
    width: 50%;
    justify-content: center;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 2%;
}

.main {
    justify-content: center;
    text-align: center;

}

.info {
    text-align: start;
}

.pword {
    box-sizing: border-box;
    border: 1px solid;
    width: 50%;
    height: 2.5rem;
    margin-left: 0.3rem;

}

.uname {
    box-sizing: border-box;
    border: 1px solid;
    width: 50%;
    height: 2.5rem;
    margin-left: 0.3rem;

}

label {
    margin-left: 00.3rem;
    /* margin-bottom: 0.3rem;
    line-height: 1px; */
    font-size: small;
}

.username {
    margin-bottom: 1rem;
}

.password {
    margin-bottom: 0.2rem;

}

.signin {
    background-color: black;
    color: white;
    border: none;
    height: 4vh;
    font-size: large;
    cursor: pointer;
    margin-top: 0.1rem;
    width: 5rem;

}

.signup {
    background-color: white;
    color: black;
    border: 1px solid black;
    height: 4vh;
    font-size: large;
    cursor: pointer;
    margin-top: 0.1rem;
    width: 5rem;
}
