.item {
    display: flex;
    align-items: flex-start;
    gap: 1em;
}

.itemDescription {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

p {
    margin: 0;
}

.item > img {
    width: 8em;
    height: 8em;
}